.icon {
  width: 6.5rem;
  height: 4.875rem;
  margin-top: 5.675rem;
}
.icon2 {
  width: 7rem;
  height: 2.5rem;
  margin-top: 3.0rem;
  margin-bottom: 2.7rem;
}
.denglu {
  width: 17.25rem;
  height: 2.025rem;
  font-size: 0.7rem;
  line-height: 2.025rem;
  color: #fff;
  background-color: #435674;
  margin: 0 auto;
}
.juli {
  background-color: #c8584a;
  margin-bottom: 0.925rem;
}
